<!-- templates/index.html -->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Crypto Market Sentiment Screener</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--    <div class="container">-->
<!--        <h1>Crypto Market Sentiment Screener</h1>-->
<!--        <div>-->
<!--            <a href="/dashboard/" class="btn btn-primary">Go to Dashboard</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->
